body {background-color:beige;}
h1 {color:black;font-size:20pt;font-family:monospace;}
hr {color:black;}
p {font-family:monospace;color:black;font-size:11pt;margin-left:20px;}
p.end {font-family:monospace;color:black;font-size:8pt;text-align:right;}

a {text-decoration:none}
a:link {color:grey}
a:visited {color:DimGray;}
a:hover {color:LightGray;}
a:active {color:black;}
