body {background-color:black;
background-image:url('film.jpg');
background-repeat:repeat-y;
background-position:left top;
} 

h1 {color:white;font-size:20pt;font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;margin-left:60px;}
hr {color:white;}
p {font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;color:white;font-size:11pt;margin-left:70px;}
p.attn {font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;color:red;font-size:15pt;margin-left:70px;}
p.small {font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;color:red;font-size:8pt;margin-left:70px;}

a {text-decoration:none}
a:link {color:darkred}
a:visited {color:Gray;}
a:hover {color:LightGray;text-decoration:underline;}
a:active {color:black;text-decoration:underline;}
